
body {
  background-color: #444444; color: white
}

h1 {
  font-size: 40px;
}

a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: white;
}

a.current:visited {
  color: orange;
}
